

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.form {
  display: flex;
  /* background-color: wheat; */
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #ccc;
  margin-top: 5px;
  padding: 3px;
}
.input {

  font-weight: 500;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid black;
}
.button {
    width: 300px;
    height: 55px;
    border-radius: 15px;
    background-color: wheat;
    border: 1px solid black;
}
.button:hover {
  background-color: #ca1414;
}
