
.nav {
  margin-top: 10px;
  background-color: rgb(184, 61, 81);

}
nav a {
  width: 180px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 37px;
  font-size: small;
  color: white;
  text-decoration: none;
}
.Icon {
  color: white;
  width: 15px;
  height: 15px;
  margin: 9px;
}

